/*--------------- S 폰트 ---------------*/
* {
    font-family: 'Open Sans', sans-serif;
    color:#222222;
    font-weight: regular;
}
h2, .maintitle {
    font-size: 28px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 24px;
}
p{
    font-size: 18px;
}

/*--------------- E 폰트 ---------------*/

/*--------------- S 컬러박스 ---------------*/
.color{
    width:100px;
    line-height: 60px;
    border: #000000 solid 1px;
    text-align: center;
}
.red{
    background:#E72B20 ;
} 
.yellow{
    background: #FFA443;
}
.white{
    background: #FFFFFF;  
}
.dark{
    background: #222222;
    color:#FFFFFF;
}
.gray{
    background: #666666;
}
.gradient{
    background: linear-gradient(to right, #D74357, #F14F3A,#EF642F);
    font-size: 6px;
}
/*--------------- E 컬러박스 ---------------*/

/*--------------- S 아이콘 ---------------*/
.sns{
    margin-top: 40px;
}
.sns > i{
color:#222;
font-size: 32px;
}
.sns > i:hover{
    color:#E72B20 ;
}
/*--------------- E 아이콘 ---------------*/

/*--------------- S fixedbtn ---------------*/
.btn_fixed_ticket,
.btn_fixed_top{
    display: inline-block;
    position: relative;
}
.btn_fixed_ticket{
    width: 170px; height: 170px;
}
.btn_fixed_top{
    width: 75px; height: 75px;
}

#btn_fixed h3{
    /* display: inline-block; */
    position: absolute;
    text-decoration: none;
    text-align: center;
}
.btn_fixed_ticket > h3{
    left: 25%; top: 10%;
}
.btn_fixed_top > h3{
    left: 30%; bottom: 25%;
    margin: 0;
}
/*--------------- E fixedbtn ---------------*/



/*--------------- S 동영상 ---------------*/
.ex_bg {
width: 250px;height: 50px;
background: #000;
text-align: center;
}
    .btn_movie {
    display: inline-block;
    width: 50px; height: 50px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid white;
    position: relative;
    box-sizing: border-box;
}
    .btn_movie > i {
    font-size:28px;
    color: white;
    position: absolute;
    top:50%; left: 50%;
    transform: translate(-50%,-50%);
}
/*--------------- E 동영상 ---------------*/

/*--------------- MOVIE CHART form ---------------*/
.movie_chart_form label i{
    font-size: 28px;
}
.movie_chart_form input{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color:#222;

}
.movie_chart_form input:hover{
    color:#E72B20 ;
}

/*--------------- MOVIE CHART background ---------------*/
.movie_bg {
width: 100%;
height: 100px;
background: linear-gradient(#EEE0E1,#FAF2F3)
}

/*--------------- BUTTON Ticketing ---------------*/
.btn_ticketing {
    color: red;
    border: 1px solid red;
    border-radius: 22.5px;
    width: 150px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
}
.btn_ticketing:hover {
    color: white;
    background: red;
}

/*--------------- BUTTON More ---------------*/
.btn_more {
    color: red;
    border: 1px solid red;
    border-radius: 22.5px;
    width: 120px;
    line-height: 36px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
}
.btn_more:hover {
    color: white;
    background: red;
}

/*--------------- BUTTON Ticketing Navigation ---------------*/
a[class^="btn_nav"] {
    display: inline-block;
    width: 55px;
    border-radius: 50%;
    line-height: 55px;
    border: 1px solid #ffffff;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    /* border: 1px solid black; */
}

div[class^=triagle] {
    display: inline-block;
    border-width: 19.5px;
    border-style: solid;
    box-sizing: border-box;
    position: relative;
}

.btn_nav_left > .triagle_left {
    border-color: transparent red transparent transparent;
    border-left: 0;
    left: 50%; top: 50%;
    transform: translate(-75%, 25%);
}
.btn_nav_left:hover > .triagle_left {
    border-color: transparent white transparent transparent;
}
.btn_nav_left:hover {
    background: red;
}


.btn_nav_right > .triagle_right {
    border-color: transparent transparent transparent red;
    border-right: 0;
    left: 50%; top: 50%;
    transform: translate(-25%, 25%);
}      
.btn_nav_right:hover > .triagle_right {
    border-color: transparent transparent transparent white;
}
.btn_nav_right:hover {
    background: red;
}

/* fonts.google */
/* .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
} */
/* 
https://developer.mozilla.org/en-US/docs/Web/CSS/font-variation-settings

'wdth 수치가 먹히지 않음'
*/
