
/*--------------- S theater ---------------*/
.theater_bg{
    background: linear-gradient(to right, #000 10%, rgba(0,0,0,0) 20% 80%, #000 90%), url("img/theater/special_BG.png") no-repeat center;
}
.theater{
    padding-top: 135px;
    padding-bottom: 135px;
}
.theater_header{
    margin-bottom: 0.3em;
    line-height: 3rem;
}

.theater_header h2{
    float: left;
    font-weight: 800;
    color:#fff;
}
.theater_header a{
    float: right;
}
.theater h3{
    color:#fff;
    line-height: 1.5em;
}
.best{
    margin-bottom: 50px;
}
.best li{
    float:left;
    position: relative;

}
.best li:nth-child(1){
    margin-right: 23px;
    margin-bottom: 28px;
}
.best li:nth-child(2){
    margin-bottom: 28px;
}
.best li:nth-child(3){
    margin-right: 23px;
}

.toptheater{
    width: 558px;
    height: 280px;
    display: block;
    text-align: center;
    border-radius: 8px;
    color:#fff;
}
.toptheater.suite{
    background: linear-gradient(to bottom, rgba(0,0,0,0)50%, #000 100%), url("img/theater/suite.jpg") 100%/cover ;
}
.toptheater.living{
    background: linear-gradient(to bottom, rgba(0,0,0,0)50%, #000 100%), url("img/theater/living.jpg") 100%/cover ;
}
.toptheater.fdx{
    background: linear-gradient(to bottom, rgba(0,0,0,0)50%, #000 100%), url("img/theater/fdx.jpg");
    background-size: 120%;
    background-position: center top 70%;
}
.toptheater.chef{
    background: linear-gradient(to bottom, rgba(0,0,0,0)50%, #000 100%), url("img/theater/chef.jpg") 100%/cover ;
    background-position: center bottom 10%;
}
.best_title,
.best_desc{
    color:#fff;
    position: absolute;
}
.best_title{
    left:20px;
    font-size: 24px;
    font-weight: 800;
    bottom:calc(20px + .5em);
}
.best_desc{
    left:20px;
    bottom:20px;
    font-size: 16px;
}
.best_title.active,
.best_desc.active{
    visibility:hidden;

}

.suite .best_title,
.living .best_title,
.fdx .best_title{
    text-transform: uppercase;
}
.dim{
    position: absolute;
    text-align: center;
    left: 0;right: 0; top: 0; bottom: 0;
    background: rgba(0,0,0,.5);
    line-height: 280px;
    border-radius: 8px;
    opacity: 0;
    transition: 0.3s;
}
.dim span{
    display: block;
    margin-top: 25%;
    transform: translateY(-50%);
}
.best li:hover .dim{
    opacity: 1;
}
.best li:hover .best_title,
.best li:hover .best_desc{
    opacity: 0;
}
.dim h3{
    font-weight: 800;
}
.dim p{
    line-height: 1.2em;
    color:#fff;
}

/*--------------- best - theme ---------------*/
.theme li{
    float: left;
    width: 363px;
    height: 84px;
    border-radius: 8px;
    margin-right: 23px;
    position: relative;
}
.theme li p{
    color:#fff;
    position: absolute;
    right:10px;
    bottom:10px;
    font-size: 24px;
    z-index: 1;
}
.theme li:nth-child(1){
    background:url("img/theater/theme_tech.png") 100%/cover;
}
.theme li:nth-child(2){
    background:url("img/theater/theme_prestige.png") 100%/cover;    
}
.theme li:nth-child(3){
    background:url("img/theater/theme_concept.jpg") 100%/cover;
    margin-right: 0;
}
.theme li:after{
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background:rgba(0,0,0,.5);
    transition: 0.3s;
}
.theme li:hover:after{
    opacity: 0;
}
/*--------------- E theater ---------------*/

/*--------------- S footer_ad ---------------*/
.foot_ad_bg{
    background: #182b6c;
}
.foot_ad_image{
    background: url("img/theater/980x240.png") no-repeat center;
    height:240px;
}

/*--------------- E footer_ad ---------------*/
/*--------------- S footer_polish ---------------*/
.polish_menu{
    display: block;
    line-height: 50px;
    height:50px;
    border:1px #ccc;;
    border-style: none none solid none;
    box-sizing: border-box;
    margin:0 auto;
}
.polish_menu li{
    font-size: 14px; 
    float:left;
 }
.polish_menu li:after{
    content:"|";
    width:1rem;
    margin: 0 15px 0 10px;
    color:#ccc;
}
.polish_menu li:last-child::after{
    content:none;
}
/*--------------- E footer_polish ---------------*/
/*--------------- S footer_info ---------------*/

.info{
    margin-top: 1em;
    margin-bottom: 2em;
}
.info .logo{
    float: left;
    margin-right: 2em;
}

.info_content{
    float: left;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

.info_content dt, 
.info_content dd{
    float: left;
}
.info_content dt:after{
    content: ':';
    margin-left: .3em;
    margin-right: .3em;
}
.info_content dd:after{
    content: '|';
    margin-left: .5em;
    margin-right: .5em;
    color:#ccc;
}
.info_content p{
    font-size: 12px;
}
.info_content dd:last-child:after{
    content:none;
}
.info_content a{
    text-decoration: underline;
}
.info .form_branch{
    float:right;

}

