.cf:after{content:''; clear:both; display:block; }

.sns li > i,
.memberinfo li > i{
color:#222;
font-size: 32px;
}
.sns li > i:hover,
.memberinfo li > i:hover{
    color:#E72B20 ;
}

/*--------------- menu ---------------*/
nav{
    width: 100%;
    height: 72px;
    background: #ccc;

}
.nav_menu{
    position: absolute;
}
.nav_menu li{
    line-height: 72px;
    width: 170px;
    display: inline-block;
}
.nav_menu dl{
    line-height: 34px;
}
.nav_menu dt{
    display: none;
}
nav:after{
    content: '';
    display: block;
}

/*--------------- E menu ---------------*/

/*--------------- S header ---------------*/

header{
    width: 100%;
    height: 168px;
}
.header{
    width: 100%;
    height: 112px;
    margin: 28px 0;
    box-sizing: border-box;
    position: relative
}
.header .logo_bg{
    display: inline-block;
    position: relative;
    position: absolute;
    left:50%; top:50%;
    transform:translate(-50%,-50%)
}
.header .logo{
    background: url('img/logo.svg') top center no-repeat;
    display:inline-block;
    width:218px;
    height: 84px;
    text-indent:-100%;
    overflow: hidden;
}
.logo_bg span{
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.15em;
    position: absolute;
    top: 100%; left: 0; right: 0;
    text-align: center;
}

.sns{
    float: left;
}
.sns li{
    float: left;
    margin-left: 30px;
}

.memberinfo{
    float: right;
    text-align: center;
}
.memberinfo li{
    float: left;
    margin-right: 30px;
}
/*--------------- E header ---------------*/

/*--------------- S head Ad ---------------*/
.head_ad{
    width: 100%;
    height: 84px;
    background: #ccc;
}
.head_ad_content{
    width: 1140px;
    position: relative;
}
.head_ad_content .btn_ad_close{
    position: absolute;
    top: 10px; right: 10px;
}
/*--------------- E head Ad ---------------*/
