/* main {
    margin-top: 43px;
} */

.movie_chart {
    width: 100%;
    height: 756px;
    background: linear-gradient(#EEE0E1,#FAF2F3)
}

.chart_wrap {
    height: 100%;
    margin: 0 auto;
    /* position: relative; */
}

/*--------------- CHART HEADER ---------------*/
.chart_header {
    position: relative;
}

.chart_header > .chart_header h2, .chart_header h3, .movie_chart_form {
    display: inline-block;
    font-family: 'Open Sans';
}

.chart_header h2, .btn_more, label {
    cursor: pointer;
}

.chart_header > h2 {
    font-size: 28px;
    margin-right: 30px;
    display: inline-block;
}

.chart_header > .chart {
    font-weight: bold;
}

.chart_wrap .showing, .chart_wrap h3, .chart_wrap span {
    font-weight:400;
}

.chart_header > .showing {
    color: #666666;
}

.chart_header {
    padding-top: 40px;
}

/* form */
.chart_form {
    display: inline;
    float: right;
    position: relative;
    top: 6px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 28px;
}

.chart_form label i{
    font-size: 28px;
    color: #666666;
}
.chart_form input{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: transparent;
    outline: 0; 
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}


/* MOVIE CHART form (hover 효과만 원할 경우 밑에 4줄로 구현 가능 js파일에 있는 MOVIE CHART form 필요 없음. */
/* .chart_form:hover .input_active {
    border-bottom: 2px solid red;
}
.chart_form:hover .i_active {
    color: #E72B20;
} */

.input_active {
    border-bottom: 2px solid red;
}
/* .i_active {
    color: #E72B20;
} */

/*--------------- CHART SECTION ---------------*/
.chart_section {
    position: relative;
}

.chart_poster {
    position: absolute;
    left: 0;
    /* transition: left 0.3s ease-in-out; */
}

.chart_poster_wrap {
    margin-top: 40px;
    height: 496px;
    position: relative;
    overflow: hidden;
}

.chart_poster li {
    position: absolute;
    display: inline-block;
}

.chart_poster .poster_num {
    font-family: 'Old Standard TT', serif;
    font-style: italic;
    font-size: 90px;
    position: absolute;
    left: 10px;
    bottom: 168px;
    color: #ffffff;
    letter-spacing: -20px;
    transition: 0.2s;
}

.chart_poster li img {
    width: 258px;
    height: 364px;
    border-radius: 20px;
    cursor: pointer;
}

.poster_modal {
    width: 258px;
    line-height: 360px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0; top: 0;
    z-index: 1;
    text-align: center;
    color: #ffffff;
    opacity: 0;
    transition: 0.2s;
}

.chart_poster li .poster_wrap:hover .poster_modal {
    opacity: 1;
} 
.chart_poster li .poster_wrap:hover .poster_num {
    opacity: 0;
}
.poster_btn {
    color: rgba(255, 255, 255);
    /* border: 1px solid #ffffff; */
    /* border-radius: 22.5px; */
    /* width: 150px; */
    /* line-height: 45px; */
    /* display: inline-block; */
    /* text-align: center; */
    font-weight: bold;
    font-size: 25px;
    transition: 0.3s ease-out;
    box-sizing: border-box;
    bottom: 0;
    cursor: pointer;
    /* background: rgba(255, 255, 255, 0.3); */
}


.title_ticketing {
    margin: 28px 0;
}

.chart_poster .title_ticketing{
    width: 258px;
    height: 104px;
    position: relative;
}

.chart_poster h3, .chart_poster span, .btn_ticketing {
    position: absolute;
}

.chart_poster h3 {
    font-size: 24px;
    top: 0;
    width: 250px;
    text-align: center;
}
.chart_poster span {
    font-size: 18px;
    bottom: 0;
    right: 0;
    display: inline-block;
    line-height: 47px;
}

/*--------------- BUTTON Ticketing ---------------*/
.btn_ticketing {
    color: red;
    border: 1px solid red;
    border-radius: 22.5px;
    width: 150px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    transition: 0.3s ease-out;
    box-sizing: border-box;
    bottom: 0;
    cursor: pointer;
    background: white;
}
.btn_ticketing:hover {
    color: white;
    background: red;
}

/*--------------- BUTTON Ticketing Navigation ---------------*/
a[class^="btn_nav_"] {
    /* display: inline-block; */
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.5);
    transition: 0.3s ease-out;

    /* position: absolute; 
    top: 153px;  */
}

.material-symbols-outlined.fill {
    position: absolute;
    font-size: 40px;
    color: red;
    top: calc(50% - 20px);

    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.material_left {
    left: calc(50% - 24px);
    transform: rotate(-90deg);
}

.btn_nav_left {
    left: -30px; top: 30%;
    display: none;
}
.btn_nav_right {
    right: -30px; top: 30%;
} 

.btn_nav_left:hover .material_left{
    color: white;
}
.btn_nav_left:hover {
    background: red;
}
.material_right {
    right: calc(50% - 24px);
    transform: rotate(90deg);
}
.btn_nav_right:hover .material_right{
    color: white;
}
.btn_nav_right:hover {
    background: red;
}

/* 스크롤 화살표 */
.chart_arrow {
    position: absolute;
    font-size: 32px; 
    left: calc(50% - 14px);
    display: inline-block;
    line-height: 142px;
}
.chart_arrow i {
    color: #666666;
}